<html xmlns:th="http://www.thymeleaf.org/">

<!-- Modal for adding room -->
<div th:fragment="addRoomModal" class="modal fade text-light" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="Add Room"
     aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content main-bg-color">
            <form class="" th:action="@{/main/addRoom}" th:method="post">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Create New Room</h5>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-top border-bottom secondary-border-color">
                    <label for="roomName">Room Name</label>
                    <input name="roomName" type="text" id="roomName" class="form-control"
                           placeholder="My great Room"
                           required>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal for adding contact -->
<div th:fragment="addContactModal" class="modal fade text-light" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="Add Contact"
     aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content main-bg-color">
            <form class="" th:action="@{/main/addContact}" th:method="post">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Add Contact</h5>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-top border-bottom secondary-border-color">
                    <label for="contactName">Contacts Username</label>
                    <input name="contactName" type="text" id="contactName" class="form-control"
                           placeholder="Contact"
                           required>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>