:root {
    --main-color: #23272A;
    --secondary-color: #2C2F33;
}

.main-bg {
    background-color: var(--main-color);
}

.secondary-bg {
    background-color: var(--secondary-color) !important;
}

.main-border {
    border-color: var(--main-color) !important;
}

.secondary-border {
    border-color: var(--secondary-color) !important;
}




