:root {
    --main-color: #23272A;
    --secondary-color: #2C2F33;
}

.main-bg {
    background-color: var(--main-color);
}

.secondary-bg {
    background-color: var(--secondary-color) !important;
}

.main-border {
    border-color: var(--main-color) !important;
}

.secondary-border {
    border-color: var(--secondary-color) !important;
}

/* scrollbar */
::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
    width: 10px;
    background: var(--main-color);
}

textarea::-webkit-scrollbar {
    background-color: white;
}

textarea::-webkit-scrollbar-thumb {
    border: 5px solid white;
}
