<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Call</title>
    <title th:replace="fragments/bootstrap :: header"></title>
    <title th:replace="fragments/sockets :: header"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/call_app.js}"></script>

    <script th:inline="javascript">
        window.onload = function () {
            connectCallSocket([[${invitation.id}]], [[${user.id}]], [[${textChannel.id}]]);
            scrollToBottom('msg-container');
        }
    </script>

</head>
<body class="vh-100 main-bg text-light">
<div class="container-fluid h-100 row m-0 p-0">

    <!-- left column -->
    <div class="col-md-9 col-sm-9 d-flex flex-column h-100 secondary-bg pt-3">
        <div th:replace="fragments/textChannelFragment :: textChannel(${textChannel})"></div>
    </div>

    <!-- right column -->
    <div class="col-md-3 col-sm-3 d-flex flex-column h-100 p-4">

        <div th:replace="fragments/mainFragments :: heading('CALL MEMBERS', 'secondary-border')"></div>
        <div th:replace="fragments/mainFragments :: listEmptyWarning(${invitation.call.participants}, 'No members here!')"></div>
        <div class="overflow-auto flex-grow-1">
            <div class="mb-4" id="member_container">
                <div class="flex-row d-flex justify-content-between secondary-bg rounded mt-2 p-1 pl-3 pr-2"
                     th:each="participant : ${invitation.call.participants}">

                    <div class="flex-column d-flex justify-content-center">
                        <p class="m-1 member_name" th:text="${participant.userName}"></p>
                    </div>
                </div>
            </div>
            <div class="mb-4" id="invited_container">
                <div th:replace="fragments/mainFragments :: heading('ALSO INVITED', 'secondary-border')"></div>
                <div id="empty-message">
                    <div th:replace="fragments/mainFragments :: listEmptyWarning(${invitation.invitedUsers}, 'No one else is invited!')"></div>
                </div>
                <div class="flex-row d-flex justify-content-between secondary-bg rounded mt-2 p-1 pl-3 pr-2"
                     th:each="invited : ${invitation.invitedUsers}"
                     th:unless="${invitation.call.participants.contains(invited)}">

                    <div class="flex-column d-flex justify-content-center">
                        <p class="m-1 invited_name" th:text="${invited.username}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row d-flex justify-content-center border-top secondary-border">
            <div class="col text-center p-0">
                <div class="flex-row d-flex justify-content-start">
                    <p class="m-0 pt-2">Invite Guests? Let them join via </p>
                </div>
                <!-- TODO insert proper link-->

                <div class="flex-row d-flex justify-content-between">
                    <div class="flex-column d-flex overflow-auto">
                        <p class="m-0 pb-2" th:text="'http://voci:8080/invitation/' + ${invitation.accessToken}"
                           style="overflow-wrap: break-word" id="invitationURL"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row d-flex justify-content-center border-top secondary-border">
            <div class="text-center">
                <button class="btn btn-outline-danger m-2 p-2" id="leave-call-btn">
                    LEAVE CALL
                </button>
                <script th:inline="javascript">
                    let leaveCallBtn = document.getElementById('leave-call-btn');

                    leaveCallBtn.addEventListener("click", function () {
                        stompClient.send('/ws/' + [[${invitation.id}]] + '/leaveCall', {}, [[${user.id}]]);
                    });
                </script>
            </div>

            <div class="text-center" th:if="${user.equals(invitation.initiator)}">
                <button class="btn btn-outline-danger m-2 p-2" id="end-call-btn">
                    END CALL
                </button>
                <script th:inline="javascript">
                    let endCallBtn = document.getElementById('end-call-btn');
                    endCallBtn.addEventListener("click", function () {
                        stompClient.send('/ws/' + [[${invitation.id}]] + '/endCall', {});
                    })
                </script>
            </div>
        </div>

    </div>
</div>
</body>
</html>