<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voci</title>
    <title th:replace="fragments/bootstrap :: header"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body class="vh-100 main-bg text-light">
<div class="container-fluid h-100 row m-0 p-0"> <!-- TODO: responsive machen -->

    <!-- left column -->
    <div class="col-md-2 col-sm-3 d-flex flex-column h-100">
        <header th:replace="fragments/mainFragments :: header"></header>
        <div class="border-top secondary-border flex-grow-1 overflow-auto">
            <a th:replace="fragments/mainFragments :: navButtonInactive('HOME', '/main')"></a>
            <a th:replace="fragments/mainFragments :: navButtonInactive('CALL', '/call')"></a>
            <a th:replace="fragments/mainFragments :: navButtonActive('INFO', '/info')"></a>
        </div>
        <div class="text-center">
            <a class="btn btn-outline-danger p-2 mb-4 mt-3" th:href="@{/logout}">LOGOUT</a>
        </div>

    </div>

    <!-- mid column / main -->
    <div class="col-md-10 col-sm-9 d-flex flex-column h-100 secondary-bg p-4">
        <div th:replace="fragments/mainFragments :: heading('INFO', 'main-border')"></div>
        <div class="flex-column d-flex overflow-auto flex-grow-1 p-0 mt-2 ">
            <div class="main-bg rounded p-3 f-flex flex-column">
                <div class="d-flex flex-row border-bottom border-top secondary-border pt-3 pb-3 overflow-auto">
                    <div class="flex-column d-flex col-md-3 col-sm-4 col-6">
                        <p class="pr-4 m-0">Username: </p>
                    </div>
                    <div class="flex-column d-flex col-md-9 col-sm-8 col-6 pl-2 m-0">
                        <p class="m-0" th:text="${user.userName}"></p>
                    </div>
                </div>
                <div class="d-flex flex-row border-bottom border-top secondary-border pt-3 pb-3 overflow-auto">
                    <div class="flex-column d-flex col-md-3 col-sm-4 col-6">
                        <p class="pr-4 m-0">Security-Token: </p>
                    </div>
                    <div class="flex-column d-flex col-md-9 col-sm-8 col-6 pl-2 m-0">
                        <p class="m-0" th:text="${user.securityToken}"></p>
                    </div>
                </div>
                <div class="d-flex flex-row border-bottom border-top secondary-border pt-2 pb-2 overflow-auto">
                    <div class="flex-column d-flex col-md-3 col-sm-4 col-5 justify-content-center">
                        <p class="pr-4 m-0">Dropsi-Security-Token: </p>
                    </div>
                    <div class="flex-column d-flex col-md-9 col-sm-8 col-7 pl-2 m-0 justify-content-center">
                        <form class="flex-row d-flex" th:action="@{/info/updateDropsi}" th:method="post">
                            <input type="text" name="dropsiToken" th:if="${user.dropsiToken != null}"
                                   class="m-0 form-control"
                                   th:placeholder="${user.dropsiToken}">
                            <input type="text" name="dropsiToken" th:if="${user.dropsiToken == null}"
                                   class="m-0 form-control"
                                   placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX">
                            <button type="submit" class="btn btn-success ml-2">UPDATE</button>
                        </form>
                    </div>
                </div>
                <div th:if="${errorMsg}" class="d-flex flex-row overflow-auto pt-2">
                    <div class="flex-column d-flex col-md-3 col-sm-4 col-6">
                    </div>
                    <div class="flex-column d-flex col-md-9 col-sm-8 col-6 pl-2 m-0">
                        <p class="m-0 text-danger" th:text="${errorMsg}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>