<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voci</title>
    <title th:replace="fragments/bootstrap :: header"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body class="vh-100 main-bg text-light">
<div class="container-fluid h-100 row m-0 p-0"> <!-- TODO: responsive machen -->

    <!-- left column -->
    <div class="col-md-2 col-sm-3 d-flex flex-column h-100">
        <header th:replace="fragments/mainFragments :: header"></header>
        <div class="border-top secondary-border flex-grow-1 overflow-auto">
            <a th:replace="fragments/mainFragments :: navButtonActive('HOME', '/main')"></a>
            <a th:replace="fragments/mainFragments :: navButtonInactive('CALL', '/call')"></a>
            <a th:replace="fragments/mainFragments :: navButtonInactive('INFO', '/info')"></a>
            <!-- TODO: th:href="@{/info}> -->
        </div>
        <div class="text-center">
            <a class="btn btn-outline-danger p-2 mb-4 mt-3" th:href="@{/logout}">LOGOUT</a>
        </div>

    </div>

    <!-- mid column -->
    <div class="col-md-7 col-sm-6 secondary-bg d-flex flex-column h-100 p-4">
        <div th:replace="fragments/mainFragments :: heading('YOUR CHATROOMS', 'main-border')"></div>
        <div th:replace="fragments/mainFragments :: listEmptyWarning(${roomsList}, 'You are not member of any chatroom, yet!')">
        </div>
        <div class="overflow-auto">
            <div class="flex-row d-flex justify-content-between main-bg rounded mt-2 p-1 pl-3 pr-3"
                 th:each="room : ${roomsList}">

                <!-- TODO input validation -->
                <div class="flex-column d-flex justify-content-center">
                    <p class="m-0" th:text="${room.roomName}"></p>
                </div>

                <div class="justify-content-center text-light m-0 p-0" data-toggle="tooltip"
                     title="members">
                    <i class="material-icons mt-1">people</i><span class="badge badge-success p-1 ml-1"
                                                                   th:text="${room.members.size()}"></span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-outline-success m-2 p-2" data-toggle="modal" data-target="#addRoomModal">ADD ROOM
            </button>
        </div>
    </div>

    <!-- right column -->
    <div class="col-md-3 col-sm-3 d-flex flex-column h-100 p-4">
        <div th:replace="fragments/mainFragments :: heading('CONTACTS', 'secondary-border')"></div>
        <div th:replace="fragments/mainFragments :: listEmptyWarning(${contactsList}, 'You do not have any contacts, yet!')"></div>
        <div class="overflow-auto">
            <form class="flex-row d-flex justify-content-between secondary-bg rounded mt-2 p-1 pl-3 pr-2"
                  th:each="contact : ${contactsList}"
                  th:action="@{/main/deleteContact(contactID=${contact.id})}"
                  th:method="delete">

                <div class="flex-column d-flex justify-content-center">
                    <p class="m-0" th:text="${contact.userName}"></p>
                </div>
                <button class="justify-content-center btn text-light m-0 p-0 mt-1" type="submit"><i
                        class="material-icons">delete</i>
                </button>
            </form>
        </div>
        <div th:if="${errorMsg}" th:text="${errorMsg}" class="text-danger text-center mt-2 mb-2"></div>
        <div class="text-center">
            <button class="btn btn-outline-success m-2 p-2" data-toggle="modal" data-target="#addContactModal">ADD
                CONTACT
            </button>
        </div>
    </div>
</div>

<!-- Modal for adding room -->
<div th:replace="fragments/modal :: addRoomModal"></div>

<!-- Modal for adding contact -->
<div th:replace="fragments/modal :: addContactModal"></div>

</body>

</html>