<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Register</title>
    <title th:replace="fragments/bootstrap :: header"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<div class="container-fluid d-flex flex-row justify-content-center w-100 text-light text-center main-bg-color"
     style="height: 100vh">
    <div class="d-flex flex-column justify-content-center h-100 outer-login-container">
        <div class="rounded secondary-bg-color">

            <form th:action="@{/register}" th:object="${registeredUser}" th:method="post" class="form-signin p-5">
                <div class="form-group">
                    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                </div>
                <div class="form-group">
                    <input th:field="*{userName}" type="text" id="username" class="form-control" placeholder="Username"
                           required>
                </div>

                <div class="form-group">
                    <input th:field="*{email}" type="email" id="email" class="form-control" placeholder="Email"
                           required>
                </div>

                <div class="form-group">
                    <input th:field="*{passwordHash}" type="password" id="password" class="form-control"
                           placeholder="Password" required>
                </div>
                <p class="text-danger" th:text="${errorMsg}"></p>
                <div class="form-group">
                    <button class="btn btn-lg btn-outline-primary" type="submit">Sign up</button>
                </div>
                <p>Already have an account? <br> <a th:href="@{/login}" class="">Login here!</a></p>

            </form>
        </div>

    </div>


</div>
</body>
</html>