<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${room.roomName}"></title>
    <title th:replace="fragments/bootstrap :: header"></title>
    <title th:replace="fragments/sockets :: header"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/room_app.js}"></script>

    <script th:inline="javascript">
        window.onload = function () {
            connectRoomSocket([[${user.id}]], [[${textChannel.id}]]);
            scrollToBottom('msg-container');
        }
    </script>
</head>
<body class="vh-100 main-bg text-light">
<div class="container-fluid h-100 row m-0 p-0"> <!-- TODO: responsive machen -->

    <!-- left column -->
    <div class="col-md-2 col-sm-3 d-flex flex-column h-100">
        <header th:replace="fragments/mainFragments :: header"></header>
        <div class="flex-grow-1 overflow-auto text-center">
            <p class="text-secondary border-top border-bottom secondary-border mb-2">text-channels</p>
            <div class="pl-2 pr-2">
                <a class="btn btn-block text-light justify-content-center rounded p-1 mb-2"
                   th:each="channel : ${room.textChannels}"
                   th:classappend="${channel.equals(textChannel) ? 'bg-success' : 'secondary-bg'}"
                   th:href="@{/room/{roomID}(roomID=${room.id}, textChannelID=${channel.id})}"
                   onclick="disconnect()">
                    <p class="m-0" th:text="${channel.channelName}"></p>
                </a>
            </div>
            <p class="text-secondary border-top border-bottom secondary-border mb-2 mt-4">voice-channels</p>
            <div class="pl-2 pr-2">
                <div th:each="channel : ${room.voiceChannels}">
                    <a class="btn btn-block text-light justify-content-center rounded p-1 mt-2"
                       th:classappend="${(user.activeVoiceChannel != null) && (channel.equals(user.activeVoiceChannel)) ? 'bg-success' : 'secondary-bg'}"
                       th:href="@{/room/{roomID}/{voiceChannelID}(roomID=${room.id}, voiceChannelID=${channel.id})}"
                       onclick="disconnect()">
                        <p class="m-0" th:text="${channel.channelName}"></p>
                    </a>
                    <div th:each="member : ${channel.activeMembers}" class="rounded flex-column flex-row ml-2 mr-2 mb-1">
                        <p th:text="${member.userName}" class="m-0 secondary-border border-top border-bottom"></p>
                    </div>
                </div>
            </div>
            <div th:if="${(user.activeVoiceChannel != null)}" class="pb-4 pt-3 pl-4 pr-4">
                <a class="btn btn-sm btn-outline-danger"
                   th:href="@{/room/{roomID}/leaveVC(roomID=${room.id})}" onclick="disconnect()">LEAVE VOICE-CHANNEL</a>
            </div>
            <div th:if="${user.equals(room.owner)}" class="pb-4 pt-3 pl-4 pr-4">
                <a class="btn btn-block btn-outline-success"
                   th:href="@{/room/{roomID}/edit(roomID=${room.id})}" onclick="disconnect()">EDIT</a>
            </div>
        </div>
        <div class="pb-4 pt-3 pl-4 pr-4 border-top secondary-border">
            <a class="btn btn-block btn-outline-success" th:href="@{/main}" onclick="disconnect()">HOME</a>
        </div>
    </div>

    <!-- mid column / textChannel -->
    <div class="col-xl-8 col-md-7 col-sm-9 d-flex flex-column h-100 secondary-bg pt-4">
        <div class="border-bottom main-border flex-row d-flex row justify-content-between ml-1 mr-1 pl-1 pr-1">

            <div class="flex-column d-flex justify-content-center pb-2">
                <h5 class="m-0" th:text="${room.roomName.toUpperCase()}"></h5>
            </div>

            <div class="flex-row d-flex row justify-content-center text-light m-0 p-0 pb-2">
                <p class="m-0 text-secondary mr-2 pt-1 pb-1">Text-Channel: </p>
                <p class="main-bg rounded m-0 p-1 pl-2 pr-2" th:text="${textChannel.channelName}"></p>
            </div>

        </div>
        <div th:replace="fragments/textChannelFragment :: textChannel(${textChannel})">
        </div>

    </div>

    <!-- right column / members -->
    <div class="col-xl-2 col-md-3 col-sm-4 d-flex flex-column h-100 pt-4">
        <div th:replace="fragments/mainFragments :: heading('MEMBERS', 'secondary-border')"></div>
        <div class="flex-column d-flex overflow-auto flex-grow-1">
            <div class="overflow-auto">
                <form class="flex-row d-flex justify-content-between secondary-bg rounded mt-2 p-1 pl-3 pr-2"
                      th:each="member : ${room.members}"
                      th:action="@{/room/{roomID}/removeMember(memberID=${member.id}, roomID=${room.id})}"
                      th:method="delete">
                    <div class="flex-column d-flex justify-content-center">
                        <p class="m-1 member_name" th:text="${member.userName}"></p>
                    </div>
                    <button th:if="${user.equals(room.owner)}" th:unless="${member.equals(room.owner)}"
                            class="justify-content-center btn text-light m-0 p-0 mt-1" type="submit"
                            onclick="disconnect()"><i
                            class="material-icons">delete</i>
                    </button>
                </form>
            </div>
            <div class="text-center pt-2 pb-2 mt-2 border-top secondary-border">
                <a th:href="@{/room/{roomID}/invite(roomID=${room.id})}" class="btn btn-outline-success m-2 p-2"
                   onclick="disconnect()">
                    INVITE CONTACT
                </a>
            </div>
        </div>
        <form th:if="${user.equals(room.owner)}" class="text-center border-top secondary-border pb-4 pt-3"
              th:method="delete"
              th:action="@{/room/{roomID}/delete(roomID=${room.id})}"
              onclick="disconnect()">
            <button type="submit" class="btn btn-outline-danger">DELETE ROOM</button>
        </form>
        <form th:unless="${user.equals(room.owner)}" class="text-center border-top secondary-border pb-4 pt-3"
              th:method="delete"
              th:action="@{/room/{roomID}/leave(roomID=${room.id})}"
              onclick="disconnect()">
            <button type="submit" class="btn btn-outline-danger">LEAVE ROOM</button>
        </form>
    </div>
</div>
</body>
</html>